#container {
    margin:10px auto;
    display:grid;
    grid-gap:1px;
    width:640px;
    height:640px;
}
#reset {
    display:block;
    width:100px;
    height:40px;
    margin:0 auto;
    margin-top:40px;
    color:white;
    background-color:black;
    outline:0;
    border:solid black;
    font-size:1.1em;
}
#reset:hover {
color:black;
background-color:white;
border:solid white;
transform:scale(1.1);
}
#container div {
    position:relative;
    border:solid black;
}
body {
    background-color:#3d3d29;
    font-family:Helvetica;
}
.mouseover {
    background-color:rgb(255,255,255);
}